/* Start Fonts from Google Fonts */
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Arapey|Cantarell|Comfortaa|Khand|Russo+One|Ubuntu');

/*End Fonts*/


/* Start Body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-align: center;
  font: 16px;
}

/* End Body */


/* Tooltip Box */
.con-tooltip {
  position: relative;
  background: #599a68;
  
  color: #ffffff;
  border-radius: 9px;
  border-width: 100px;
  padding: 0 20px;
  margin: 10px;
  
  display: inline-block;
  
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 2px 2px 5px 0px rgba(56, 54, 54, 0.86);
}


/* Tooltip */
.tooltip {
  visibility: hidden;
  z-index: 1;
  opacity: .40;
  
  width: 100%;
  padding: 0px 20px;
  border-radius: 9px;

  background: #599a68;
  color: #ffb44f;
  font-size: 14px;
  font-weight:bold;
  
  position: absolute;
  top:-140%;
  left: -25%;  

  transform: translateY(9px);
  transition: all 0.3s ease-in-out;
}


/* Tooltip Arrow */
.tooltip::after {
  content: " ";
  width: 0;
  height: 0;
  
  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: #599a68 transparent transparent transparent;

  position: absolute;
  left: 40%;
}

.con-tooltip:hover .tooltip {
  visibility: visible;
  transform: translateY(-10px);
  opacity: 1;
  transition: .3s linear;
  animation: bounce 1s ease-in-out infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(6px);	
  }

  100% {
    transform: translateY(1px);	
  }
}

/* Hover Tooltip */
.left:hover { 
  transform: translateX(-6px); 
  box-shadow: 8px 4px 8px -4px rgba(56, 54, 54, 0.86);
}

.top:hover { 
  transform: translateY(-6px);
  box-shadow: 6px 10px 8px -4px rgba(56, 54, 54, 0.86);
}

.bottom:hover {
  transform: translateY(6px);
  box-shadow: 0px 0px 8px -4px rgba(56, 54, 54, 0.86);
}

.right:hover {
  transform: translateX(7px);
  box-shadow: 1px 7px 10px -5px rgba(56, 54, 54, 0.86);
}


/* Left */
.left .tooltip { top:-20%; left:-210%; }

.left .tooltip::after{
  top:40%;
  left:90%;
  transform: rotate(-90deg);
}

/* Bottom */
.bottom .tooltip { top:115%; left:-20%; }

.bottom .tooltip::after{
  top:-17%;
  left:40%;
  transform: rotate(180deg);
}

/* Right */
.right .tooltip { top:-20%; left:115%; }

.right .tooltip::after{
  top:40%;
  left:-12%;
  transform: rotate(90deg);
}

/*
h3 {
    background: #333;
    color: #E086D3;
    padding: 10px 20px;
    border-radius: 56px;
    width: 8em;
    margin: 20% auto 1% auto;  
}
*/